# Python Virtual Environment
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# MkDocs compiled output
site/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# C/C++ Build Artifacts
*.o
*.out
*.exe
app
main
test
